*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #333;
  color: #fff;
  
}

a{
  color: #333;
  text-decoration: none;
}

.container{
  padding: 0 1rem;
}

.picContainer{
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  position: relative;

  -webkit-animation: rotate 5s infinite; /* Safari 4+ */
  -moz-animation:    rotate 5s infinite; /* Fx 5+ */
  -o-animation:      rotate 5s infinite; /* Opera 12+ */
  animation:         rotate 5s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes rotate {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
@-moz-keyframes rotate {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
@-o-keyframes rotate {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
@keyframes rotate {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}




.btn {
  display: inline-block;

  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover{
  background: #666;
}

.result{
  text-align: center;
}